*{
    margin: 0px;
    padding: 0px;
}
/* hare start header section */
header{
    background: #e554731a;
    display: flex;
}

.banner-heading{
    display: flex;
    width: 708px;
    flex-direction: column;
    margin-top: 190px;
    margin-left: 240px;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
}
.banner-p{
    text-align: left;
    padding: 0px 0px 0px 240px;
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.banner-btn{
    padding: 20px 40px;
    align-items: center;
    border-radius: 10px;
    color: white;
    background: #E55473;
    border: none;
    margin-top: 20px;
    margin-left: 240px;
}
.banner-pic{
    align-items: center;
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-right: 40px;
}
/* hare end header section  */

/* hare main section start */
/* div1 section start */
.div1-heading{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.div1-box{
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
    margin-left: 210px;
    margin-right: 210px;
}
.pink-box{
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.pink-box img{
    padding: 110px 78px 0px 76px;
    width: 310px;
    height: 428px;
    margin-bottom: 0px;
    padding-right: 100px;
}
.blue-box{
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.blue-box img{
    padding: 117px 47px 51px 47px;
    width: 370px;
    height: 370px;
    margin-bottom: 0px;
}
.yellow-box{
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.yellow-box img{
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;
}
.bottom-text{
    display: flex;
    justify-content: space-around;
    margin-bottom: 128px;
    margin-left: 210px;
    margin-right: 210px;

}

.div1-footer{
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    margin-left: 240px;
    margin-right: 240px;
    flex-direction: column;
}
.div1f-pic{
    margin-left: 210px;
    margin-right: 150px;
    margin-bottom: 20px;
    padding-top: 86px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.div1f-text{
    margin-left: 175px;
    margin-right: 175px;
    padding-bottom: 87px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
/* div1 section end */
/* div2 section start */
.div2{
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div2 h1{
    margin-bottom: 20px;
    margin-left: 421px;
    padding-top: 100px;
}
.div2 p{
    margin-left: 393px;
    text-align: center;
}
.div2 button{
    padding: 20px 40px;
    align-items: center;
    border-radius: 10px;
    color: white;
    background: #E55473;
    border: none;
    margin-bottom: 20px;
    margin-left: 550px;
    margin-top: 32px;
}
.div2-img{
    margin-right: 429px;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* div2 section end */

/* div3 start  */
.div3-head{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.div3-pics{
    display: flex;
    justify-content: center;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 100px;
}
.flower1{
    padding-right: 20px;
}
.flower2{
    padding-right: 20px;
}
.flower3{
    padding-right: 20px;
}
.flower4{
    padding-right: 20px;
}
.banner{
    text-align: center;
    background-image: url('../Flower\ Asset/Rec');
}
.email-section{
    margin-top: 48px;
}

/* div3 end */
/* hare main section end */




/* hare footer start */
footer{
    text-align: center;
    background-color: black;
    padding: 100px;
    color: white;
}
footer h1{
    font-family: Lato;
    padding-bottom: 24px;
}
footer span{
    color: #E55473;
}
footer p{
    padding-bottom: 32px;
}
footer small{
    color: rgba(255, 255, 255, 0.4);
}