*{
    margin: 0px;
    padding: 0px;
}
/* hare start header section */
header{
    background: #e554731a;
    display: flex;
}

header h1{
    text-align: left;
    padding: 197px  900px  0px 240px;
}
header p{
    text-align: left;
    padding: 0px 0px 0px 240px;
}
header button{
    padding: 20px 40px;
    align-items: flex-start;
    border-radius: 10px;
    color: white;
    background: #E55473;
    border: none;
    position: inherit;
}
.right{
    align-content: center;
}
/* hare end header section  */

/* hare main section start */
/* div1 section start */
.div1 h1{
    text-align: center;
    margin-top: 50px;
}
.div1 p{
    text-align: center;
}
/* div1 section end */
/* div2 section start */
.div2{
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
}
/* div1 section end */
/* hare main section end */

/* hare footer start */
footer{
    text-align: center;
    background-color: black;
    padding: 100px;
    color: white;
}
footer h1{
    font-family: Lato;
    padding-bottom: 24px;
}
footer span{
    color: #E55473;
}
footer p{
    padding-bottom: 32px;
}
footer small{
    color: rgba(255, 255, 255, 0.4);
}